*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #61122F;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}
#descarga.png {
	background: url(..C:\Users\Alonzo Hernandez\Desktop\joshua\lectura\modulo 3) ;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}